$white: #FFF;
$grey1: #999999;
$grey2: #72985a;
$grey3: #e0e0e2;
$grey4: #CCC;


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

a {
	color: $grey2;
	text-decoration: none;
}

p {
	margin: 0 0 1.5rem;
}

body {
	background-color: #e4e4e4;
	color: $grey1;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}

.page {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.login-form {
	width: 350px;
	max-width: 100%;

	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	box-shadow:  0 1px 8px 0px rgba(0,0,0,.25);

	position: relative;

	margin-bottom: 2rem;
	padding: 1.9rem;

	&:before {
		content: '';
		width: calc(100% - 2px);
		height: 2px;

		background-color: white;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #e0e0e0;
		border-radius: 0 0 3px 3px;

		position: absolute;
	    bottom: -5px;
	    left: 1px;
	    z-index: 1;
	}

	&:after {
		content: '';
		width: calc(100% - 4px);
		height: 2px;

		background-color: white;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #e0e0e0;
		border-radius: 0 0 3px 3px;

		box-shadow:  0 1px 8px 0px rgba(0,0,0,.25);

		position: absolute;
	    bottom: -8px;
	    left: 2px;
	    z-index: 1;
	}

	&__row {
		max-width: 218px;
		margin: 0 auto;

		&_avatar {
			margin-bottom: 1.5rem;
		}

		&_email {
			margin-bottom: 1.2rem;
		}

		&_pass {
			margin-bottom: .7rem;
		}

		&_link {
			margin-bottom: 1.9rem;
		}
	}

	&__close {
		display: block;
		width: 1.3rem;
		height: 1.3rem;

		background-color: $grey4;
		border-radius: 50%;

		position: absolute;
		top: 1rem;
		right: 1rem;

		&:before, &:after {
			content: '';
			display: block;
			width: 7px;
			height: 1px;
			background-color: white;
			
			position: absolute;
			left: 3px;
			top: 6px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__avatar {
		width: 5.7rem;
		height: 5.7rem;
		margin: 0 auto;

		border-radius: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__link {
		a {
			color: $grey1;
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.login-link {
	text-align: center;
}

.input {
	display: flex;
	align-items: stretch;

	border: 1px solid $grey3;
	border-radius: 2px;
	height: 30px;

	&._error {
		border-color: red;
		box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
	}

	&._valid {
		border-color: #93c273;
		box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
	}

	&__icon {
		flex: 0 0 auto;

		border-right: 1px solid $grey3;
		width: 30px;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;

		&:after {
			content: '';
			display: block;
			width: 8px;
			height: 8px;

			background: white;
			border-width: 1px 1px 0 0;
			border-style: solid;
			border-color: $grey3;

			position: absolute;
			right: -5px;
			top: calc(50% - 4px);

			transform: rotate(45deg);
		}
	}

	&__unit {
		flex: 0 1 auto;
		border: none;
		width: 100%;
		height: 100%;

		padding: .7rem 1rem;

		&:focus {
			outline: none;
		}
	}
}

.btn {
	display: block;
	padding: .5rem 1rem;

	color: $white;
	font-size: 1.4rem;
	cursor: pointer;

	background: #93c273;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -2px 0 0 rgba(0,0,0,.08) inset;

	&[disabled] {
		background: $grey4;
		pointer-events: none;
	}
}

.checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;

	cursor: pointer;

	input {
		display: none;

		&:checked {

			& + .checkbox__controls .checkbox__view {
				&:before {
					width: 4px;
					left: -1px;
    				top: 5px;
				}
			}

			& + .checkbox__controls .checkbox__toggler {
				background: #5b7848;
				background: -moz-linear-gradient(top, #5b7848 0%, #96c676 100%);
				background: -webkit-linear-gradient(top, #5b7848 0%,#96c676 100%);
				background: linear-gradient(to bottom, #5b7848 0%,#96c676 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7848', endColorstr='#96c676',GradientType=0 );

				&:after {
					left: 26px;
				}
			}
		}
	}

	&__controls {
		display: inline-flex;
		align-items: center;
	}

	&__view {
		width: 1rem;
		height: 1rem;
		margin-right: 1rem;

		position: relative;

		&:before, &:after {
			content: '';
			display: block;
			width: 8px;
			height: 1px;
			background-color: #a9a9a9;

			position: absolute;
			left: 1px;
			top: 4px;

			transition: all 100ms linear 0ms;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__toggler {
		width: 40px;
		height: 14px;

		margin-right: 1rem;

		border-radius: 25px;
		
		background: #7d4d4d;
		background: -moz-linear-gradient(top, #7d4d4d 0%, #ce7f7f 100%);
		background: -webkit-linear-gradient(top, #7d4d4d 0%,#ce7f7f 100%);
		background: linear-gradient(to bottom, #7d4d4d 0%,#ce7f7f 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d4d4d', endColorstr='#ce7f7f',GradientType=0 );

		position: relative;

		&:after {
			content: '';
			display: block;
			width: 15px;
			height: 15px;

			background-color: $white;
			border: 1px solid #e5e5e5;
			border-radius: 50%;

			position: absolute;
			left: -5px;
			top: -2px
		}
	}

	&__label {

	}
}